# Node Environment (development | production)
NODE_ENV=development

# Server Host & Port
HOST=0.0.0.0
PORT=3000

# Vite Dev Server Port
VITE_PORT=5173

# Nginx Proxy Port on Host (Production custom port to avoid host 80/443 conflict)
HTTP_PORT=8085
